.brand {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #e3e3e3;
}
.brand .tab-title {
    font-size: 14px;
    padding: 0 16px;
    height: 41px;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.brand .tab-title > span {
    font-size: 16px;
    color: #A1A9B3;
    line-height: 40px;
    height: 41px;
    font-weight: 700;
    text-align: center;
    display: block;
    /*width: 39%;*/
    margin: 0 0;
}
.brand .tab-title > span a{
	color: #333;
	display: block;
	width: 100%;
}
.brand .tab-title .selected {
    color: #003f82;
}
.brand .tab-title em{
	width: 1px; height: 20px;
	display: block;
	overflow: hidden;
	background: #e3e3e3;
	margin-top: 10px;
	float: left;
}
.brand .tabs-slider {
    -webkit-transform: translate3d(15px,0,0);
    transform: translate3d(15px,0,0);
    position: absolute;
    left: 0;
    top: 41px;
    z-index: 1;
    height: 1px;
    background-color: #003f82;
    -webkit-transition: -webkit-transform .2s linear 0s;
    transition: -webkit-transform .2s linear 0s;
    transition: transform .2s linear 0s;
    transition: transform .2s linear 0s, -webkit-transform .2s linear 0s;
}
.mobile {
    display: block;
    overflow: hidden;
    min-height: 400px;
    /*padding-bottom: 45px;*/
    perspective: 1px; 
    /*padding: 0; height: calc(100vh - 300px); overflow: auto;*/
}
.bluetom{
	border-bottom: 1px solid #003f82;
}
.mobile {
    display: block;
    overflow: hidden;
    min-height: 400px;
    /*padding-bottom: 45px;*/
    perspective: 1px; 
    /*padding: 0; height: calc(100vh - 300px); overflow: auto;*/
}
.mobile{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	/*padding-bottom: 60px;*/
}
body{
	background: #f4f4f4;
}
.product_box{
	overflow: hidden;
	width: 100%;
	padding-left: 1px;
}
.product_box1{
	width: 49%;
	border: 1px solid #e3e3e3;
	overflow: hidden;
	float: left;
	background: #fff;
	height: 160px;
	text-align: center;
	/*vertical-align:middle;*/
}
.product_box1 img{
	
	width: 86%;
	margin-top:16px ;
	display: inline-block; vertical-align: middle;
}
.product_box2{
	width: 49%;
	border: 1px solid #e3e3e3;
	overflow: hidden;
	float: left;
	background: #fff;
	height: 160px;
}


.pr_nob{
	border-bottom: none;
}
.pr_nol{
	border-left: none;
}
.pr_ml3{
	/*margin-left: -3px;*/
}
.product_title{
	padding: 12px 15px;
	font-size: 16px;
	color: #003f82;
	font-weight: 700;
}

.product_txt{
	padding: 0px 15px;
	font-size: 10px;
	color: #666666;
}
.product_input{
	padding: 10px 15px 0px;
}
.product_inputbox{
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	background: #003f82;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.m-footer-bar{
    color: #333;
}
.m-footer-bar .copyright{
    color: #333;
}
.m-footer-bar a{
    color: #333;
}










