
<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />			
	<meta content="telephone=no" name="format-detection" />
		<!--这个用来重置-->
		<!--<link rel="stylesheet" type="text/css" href="css/reset.css"/>-->
		<!--这个用来定义公用-->
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<!--这个是内容部分-->
		<link rel="stylesheet" type="text/css" href="css/contact.css"/>
		<title>联系我们</title>
	</head>
<body>
<header>
	<h1><a href="#">克诺尔</a></h1>
	<a href="#" class="logo" rel="nofollow">
		<img src="images/icon1.png" onerror="this.onerror=null;this.src='../images/icon1.png'" id="loginSrc">
	</a>	
</header>

<div class="brand">
	<div class="tab-title">
		<span class="selected bluetom">联系我们</span>
	</div>
</div>
<div class="earth_box">
	<img src="images/earth.png" alt="">
</div>



<div class="mobile">
	<!-- tab -->
	<div class="jxsbox">
		
		<!-- 结果 -->
		<div class="trucbox">
			
			<div class="trucbox_tip">
				<div class="tru_box">
					<p class="title_coun">克诺尔商用车系统企业管理（上海）有限公司</p>
					<p>中国上海市浦东新区盛夏路666号盛银大厦B栋</p>
					<p>邮编：201210</p>
					<p>电话：+86 21 3858 5800</p>
					<p>传真：+86 21 3858 5800</p>
				</div>
				<div class="tru_box">
					<p class="title_coun">克诺尔商用车系统企业管理（上海）有限公司</p>
					<p>中国上海市浦东新区盛夏路666号盛银大厦B栋</p>
					<p>邮编：201210</p>
					<p>电话：+86 21 3858 5800</p>
					<p>传真：+86 21 3858 5800</p>
				</div>
				<div class="tru_box">
					<p class="title_coun">克诺尔商用车系统企业管理（上海）有限公司</p>
					<p>中国上海市浦东新区盛夏路666号盛银大厦B栋</p>
					<p>邮编：201210</p>
					<p>电话：+86 21 3858 5800</p>
					<p>传真：+86 21 3858 5800</p>
				</div>
				<div class="tru_box">
					<p class="title_coun">克诺尔商用车系统企业管理（上海）有限公司</p>
					<p>中国上海市浦东新区盛夏路666号盛银大厦B栋</p>
					<p>邮编：201210</p>
					<p>电话：+86 21 3858 5800</p>
					<p>传真：+86 21 3858 5800</p>
				</div>
				<div class="tru_box">
					<p class="title_coun">克诺尔商用车系统企业管理（上海）有限公司</p>
					<p>中国上海市浦东新区盛夏路666号盛银大厦B栋</p>
					<p>邮编：201210</p>
					<p>电话：+86 21 3858 5800</p>
					<p>传真：+86 21 3858 5800</p>
				</div>
				<div class="tru_box">
					<p class="title_coun">克诺尔商用车系统企业管理（上海）有限公司</p>
					<p>中国上海市浦东新区盛夏路666号盛银大厦B栋</p>
					<p>邮编：201210</p>
					<p>电话：+86 21 3858 5800</p>
					<p>传真：+86 21 3858 5800</p>
				</div>
				<div class="tru_box">
					<p class="title_coun">克诺尔商用车系统企业管理（上海）有限公司</p>
					<p>中国上海市浦东新区盛夏路666号盛银大厦B栋</p>
					<p>邮编：201210</p>
					<p>电话：+86 21 3858 5800</p>
					<p>传真：+86 21 3858 5800</p>
				</div>
				<div class="krnon2">
					<a href="#" class="confirm">我要联系</a>
				</div>
			</div>
			
		</div>
	</div>
	
	
</div>	
<!--底部-->
<footer class="m-footer-bar">
	<p class="copyright">&copy;
        <script>
            document.write(new Date().getFullYear());
        </script>
        <a href="#">Knorr-Bremse AG | www.knorr-bremse.com.cn</a>
    </p>
</footer>
<script src="js/jquery-min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
